<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">Add New</a>
    <% let i = 1 %>
    <% for(let camp of camps) { %>
        <ul>
            <p><%= i %>. <%= camp.title %> <a href="/campgrounds/<%=camp._id %>">details</a></p>
            <% i++ %>
        </ul>
    <% } %>