<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new camp</title>
</head>
<body>
    <h1>Add new camp</h1>
    <form action="/campgrounds" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="location">Location</label>
        <input type="text" name="location" id="location">
        <button>Submit</button>
    </form>
    <a href="/campgrounds">All Camps</a>
    
</body>
</html>